 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');


 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 .scroll-bar-none ::-webkit-scrollbar {
    width: 0px;
    background-color: red;
 }

 /* ::-webkit-scrollbar-track {
    background: rgb(199, 20, 20);
    color: red;
 } */

 /* ::-webkit-scrollbar-thumb{
   
   background: white;
}  */
 /* .scroll-bar-none {
  webkit-sc
 } */
 /* body{
    font-size: 16px;
 } */